<h1 style="font-family:Patua One;text-align:center;font-size=45px;color:#049AE1;">Machine Learning Laboratory </h1>
<h2 style="font-family:Patua One;text-align:center;font-size=45px;color:#049AE1;">(410302) </h2>
<h3 style="font-family:Bookman Old Style;text-align:center;font-size=35px;color:#03D1EE;">BE Sem I Honors in AI/ML </h3>
<h4 style="font-family:Bookman Old Style;text-align:center;font-size=30px;color:#03D1EE;">Academic Year: 2022-23 </h4>
<h2 style="font-family:Farro;text-align:center;font-size=50px;color:#02DA87;">Lab Assignment No.1  </h2>
<h4 style="font-family:Bookman Old Style;text-align:right;font-size=30px;color:#A6065B;">Name - XYZ </h4>
<h4 style="font-family:Bookman Old Style;text-align:right;font-size=30px;color:#A6065B;">Roll No. - 12345 </h4>
<h4 style="font-family:Bookman Old Style;text-align:right;font-size=30px;color:#A6065B;">Branch - E&TE </h4>
<h4 style="font-family:Bookman Old Style;text-align:right;font-size=30px;color:#A6065B;">College - P.I.C.T </h4>
<br>

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#E35E06;"> 
    Problem Statement:<br>
    Write a program to solve assignments on pandas basic
 </p>

In [1]:
import pandas as pd

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;"> 1. Write a Pandas program to read a csv file from a specified source and print the first 5 rows. </p>

In [2]:
diamonds = pd.read_csv('diamonds.csv')

# I use head() function to view the first 5 rows of the dataset

diamonds.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">2. Write a Pandas program to read a dataset from diamonds Data Frame and modify the default columns values and print the first 6 rows. </p>

In [3]:
diamonds[['carat', 'cut', 'x', 'y', 'z']].head(6)

   carat        cut     x     y     z
0   0.23      Ideal  3.95  3.98  2.43
1   0.21    Premium  3.89  3.84  2.31
2   0.23       Good  4.05  4.07  2.31
3   0.29    Premium  4.20  4.23  2.63
4   0.31       Good  4.34  4.35  2.75
5   0.24  Very Good  3.94  3.96  2.48

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">3. Write a Pandas program to select a series from diamonds Data Frame. Print the content of the series.</p>

In [4]:
# carat forms a series in the dataframe
diamonds['carat']

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">4. Write a Pandas program to create a new 'Quality -color' Series (use bracket notation to define the Series name) of the diamonds Data Frame.</p>

In [5]:
diamonds['Quality -color'] = diamonds['color']
diamonds.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,Quality -color
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,E
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,E
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,E
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,I
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,J

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">5. Write a Pandas program to find the number of rows and columns and data type of each column of diamonds Data Frame.
</p>

In [6]:
#Here I have used "shape() and dtypes()" functions

print("Number of rows and columns:")
print(diamonds.shape)
print("\nData type of each column:\n")
print(diamonds.dtypes)

Number of rows and columns:
(53940, 12)

Data type of each column:

Unnamed: 0          int64
carat             float64
cut                object
color              object
clarity            object
depth             float64
table             float64
price               int64
x                 float64
y                 float64
z                 float64
Quality -color     object
dtype: object

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">6. Write a Pandas program to summarize only 'object' columns of the diamonds Data Frame.</p>

In [7]:
diamonds.describe(include=['object'])

          cut  color clarity Quality -color
count   53940  53940   53940          53940
unique      5      7       8              7
top     Ideal      G     SI1              G
freq    21551  11292   13065          11292

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">7. Write a Pandas program to rename two of the columns of the diamonds Data Frame.
</p>

In [8]:
diamonds.rename(columns={'color':'color_d', 'clarity':'clarity_d'}, inplace=True)
diamonds.head()

,Unnamed: 0,carat,cut,color_d,clarity_d,depth,table,price,x,y,z,Quality -color
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,E
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,E
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,E
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,I
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,J

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">8. Write a Pandas program to rename all the columns of the diamonds Data Frame.
</p>

In [9]:
diamonds.columns = ['Carat_of_diamond', 'Cut_of_diamond', 'Color_of_diamond', 'Clarity_of_diamond', 'Depth_of_diamond', 'Table_of_diamond', 'Price_of_diamond', 'x_diamond', 'y_diamond', 'z_diamond', 'quality_color_diamond']
diamonds.head()

ValueError: Length mismatch: Expected axis has 12 elements, new values have 11 elements

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">9. Write a Pandas program to remove the second column of the diamonds Data Frame.
</p>

In [ ]:
diamonds.drop(diamonds.columns[1], axis=1, inplace=True)
diamonds.head()

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
10. Write a Pandas program to remove multiple columns at once of the diamonds Data Frame.
    
</p>

In [ ]:
diamonds.drop(diamonds.columns[[1, 2]], axis=1, inplace=True)
diamonds.head()

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
11. Write a Pandas program to remove multiple rows at once (axis=0 refers to rows) from diamonds Data Frame.
</p>

In [ ]:
diamonds.drop([7,8,13,15], axis=0, inplace=True)

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
12. Write a Pandas program to sort the 'cut' Series in ascending order (returns a Series) of diamonds Data Frame.
    
</p>

In [ ]:
# We shall to reread the dataframe from the csv
# due to above operations dataframe no longfer contains the 'cut' column

diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
#sorting
diamonds['cut'].sort_values()

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
13. Write a Pandas program to sort the 'price' Series in descending order (returns a Series) of diamonds Data Frame.
    
</p>

In [ ]:
diamonds['price'].sort_values(ascending=False)

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
14. Write a Pandas program to sort the entire diamonds Data Frame by the 'carat' Series in ascending and descending order.
    
</p>

In [ ]:
print(diamonds.sort_values(['carat']))
print("\n\n")
print(diamonds.sort_values(['carat'], ascending=False))

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
15. Write a Pandas program to filter the Data Frame rows to only show carat weight at least 0.3.
    
</p>

In [ ]:
diamonds[diamonds['carat'] >= 0.3]

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
16. Write a Pandas program to convert a python list to pandas’ series.
    
</p>

In [ ]:
pd.Series(range(20))

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
17. Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5.
    
</p>

In [ ]:
diamonds[(diamonds['x'] > 5) & (diamonds['y'] > 5) & (diamonds['z'] > 5)]

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
18. Write a Pandas program to find the diamonds that are either Premium or Ideal.
    
</p>

In [ ]:
diamonds[(diamonds['cut'] == 'Premium') | (diamonds['cut'] == 'Ideal')]

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
19. Write a Pandas program to find the diamonds that are with a Fair or Good or Premium.
    
</p>

In [ ]:
diamonds[(diamonds['cut'] == 'Premium') | (diamonds['cut'] == 'Fair') | (diamonds['cut'] == 'Good')]

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
20. Write a Pandas program to display all column labels of diamonds Data Frame.
</p>

In [ ]:
diamonds.columns

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
21. Write a Pandas program to read only a subset of 3 rows from diamonds Data Frame.
    
</p>

In [ ]:
diamonds.iloc[2:5, :]

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
22. Write a Pandas program to iterate through diamonds Data Frame.
</p>

In [ ]:
for i, entry in diamonds[:10].iterrows():
    print(f"Row #{i}\n")
    print(entry)

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
23. Write a Pandas program to drop all non-numeric columns from diamonds Data Frame.
</p>

In [ ]:
diamonds.drop(diamonds.select_dtypes(['number']), axis=1)

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
24. Write a Pandas program to include only numeric columns in the diamonds Data Frame.
</p>

In [ ]:
diamonds.select_dtypes(['number'])

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
25. Write a Pandas program to pass a list of data types to only describe certain types of diamonds Data Frame.
</p>

In [ ]:
diamonds.describe(include=['int64', 'object'])

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
26. Write a Pandas program to calculate the mean of each numeric column of diamonds Data Frame.
</p>

In [ ]:
diamonds.mean()

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
27. Write a Pandas program to calculate the mean of each row of diamonds Data Frame.
</p>

In [ ]:
diamonds.mean(axis=1)

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
28. Write a Pandas program to calculate the mean of price for each cut of diamonds Data Frame.
</p>

In [ ]:
diamonds.groupby('cut').price.mean()

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">29. Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds Data Frame.
</p>

In [ ]:
print("Count: \n")
print(diamonds['cut'].value_counts())
print("\n\nMinimum Price: \n")
print(diamonds.groupby('cut').price.min())
print("\n\nMaximum Price: \n")
print(diamonds.groupby('cut').price.max())

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
30. Write a Pandas program to create a side-by-side bar plot of the diamonds Data Frame.
</p>

In [ ]:
diamonds.groupby('cut').mean().plot(kind='bar')

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
31. Write a Pandas program to count how many times each value in cut series of diamonds Data Frame occurs.

</p>

In [ ]:
diamonds['cut'].value_counts()

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">32. Write a Pandas program to display percentages of each value of cut series occurs in diamonds Data Frame.

</p>

In [ ]:
diamonds['cut'].value_counts(normalize=True)*100

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
 33. Write a Pandas program to display the unique values in cut series of diamonds Data Frame.

</p>

In [ ]:
diamonds['cut'].unique()

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
 34. Write a Pandas program to count the number of unique values in cut series of diamonds Data Frame.

</p>

In [ ]:
diamonds['cut'].nunique()

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
35. Write a Pandas program to compute a cross-tabulation of two Series in diamonds Data Frame.

</p>

In [ ]:
pd.crosstab(diamonds['cut'],diamonds['clarity'])

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
36. Write a Pandas program to calculate various summary statistics of cut series of diamonds Data Frame.


</p>

In [ ]:
diamonds['cut'].describe()

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
37. Write a Pandas program to create a histogram of the 'carat' Series (distribution of a numerical variable) of diamonds Data Frame.

</p>

In [ ]:
diamonds['carat'].plot(kind='hist')

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
38. Write a Pandas program to create a bar plot of the 'value_counts' for the 'cut' series of diamonds Data Frame.

</p>

In [ ]:
diamonds['cut'].value_counts().plot(kind='bar')

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
39. Write a Pandas program to create a Data Frame of Booleans (True if missing, False if not missing) from diamonds Data Frame.

</p>

In [ ]:
diamonds.isnull()

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
40. Write a Pandas program to count the number of missing values in each Series of diamonds Data Frame.

</p>

In [ ]:
diamonds.isnull().sum()

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
41. Write a Pandas program to check the number of rows and columns and drop those rows if 'any' values are missing in a row of diamonds Data Frame.


</p>

In [ ]:
diamonds.shape

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
42. Write a Pandas program to drop a row if any or all values in a row are missing of diamonds Data Frame on two specific columns.

</p>

In [ ]:
diamonds.dropna(subset=['carat', 'cut'], how='any')

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
43. Write a Pandas program to set an existing column as the index of diamonds Data Frame.


</p>

In [ ]:
diamonds.set_index('clarity', inplace=True)
diamonds

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
44. Write a Pandas program to set an existing column as the index of diamonds Data Frame and restore the index name, and move the index back to a column.


</p>

In [ ]:
diamonds.set_index('price', inplace=True)
diamonds

In [ ]:
diamonds.index.name = 'price'
diamonds.reset_index(inplace=True)
diamonds

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
45. Write a Pandas program to access a specified Series index and the Series values of diamonds Data Frame.

</p>

In [ ]:
diamonds['x'].value_counts().index

In [ ]:
diamonds['x'].value_counts().values

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
46. Write a Pandas program to sort a Series by its values and index of diamonds Data Frame.

</p>

In [ ]:
diamonds['price'].value_counts().sort_values()

In [ ]:
diamonds['price'].value_counts().sort_index()

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
47. Write a Pandas program to calculate the multiply of length, width and depth for each cut of diamonds Data Frame.

</p>

In [ ]:
diamonds['x']*diamonds['y']*diamonds['z']

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
48. Write a Pandas program to concatenate the diamonds Data Frame with the 'color' Series.


</p>

In [ ]:
pd.concat([diamonds, diamonds['color']], axis=1)

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
49. Write a Pandas program to read specified rows and all columns of diamonds Data Frame.


</p>

In [ ]:
diamonds.loc[5, :]

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
50. Write a Pandas program to read rows 0, 5, 7 and all columns of diamonds Data Frame.


</p>

In [ ]:
diamonds.loc[[0,5,7], :]

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
51. Write a Pandas program to read rows 2 through 5 and all columns of diamonds Data Frame.

</p>

In [ ]:
diamonds.loc[2:5, :]

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
52. Write a Pandas program to read rows 0 through 2 (inclusive), columns 'color' and 'price' of diamonds Data Frame.


</p>

In [ ]:
diamonds.loc[0:2, ['color', 'price']]

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
53. Write a Pandas program to read rows 0 through 2 (inclusive), columns 'color' through 'price' (inclusive) of diamonds Data Frame.


</p>

In [ ]:

diamonds.loc[0:2, 'color':'price']

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
54. Write a Pandas program to read rows in which the 'cut' is 'Premium', column 'color' of diamonds Data Frame.

</p>

In [ ]:
diamonds.loc[diamonds.cut=='Premium', 'color']

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
55. Write a Pandas program to read rows in positions 0 and 1, columns in positions 0 and 3 of diamonds Data Frame.


</p>

In [ ]:
diamonds.iloc[[0, 1], [0, 3]]

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
56. Write a Pandas program to read rows in positions 0 through 4, columns in positions 1 through 4 of diamonds Data Frame.


</p>

In [ ]:
diamonds.iloc[0:4, 1:4]

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
57. Write a Pandas program to read rows in positions 0 through 4 (exclusive) and all columns of diamonds Data Frame.

</p>

In [ ]:
diamonds.iloc[0:5, :]

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
58. Write a Pandas program to read rows 2 through 5 (inclusive), columns in positions 0 through 2 (exclusive) of diamonds Data Frame.

</p>

In [ ]:
diamonds.iloc[2:5, 0:2]

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
59. Write a Pandas program to print a concise summary of diamonds Data Frame.

</p>

In [ ]:
diamonds.info()

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
60. Write a Pandas program to get the true memory usage by diamonds Data Frame.


</p>

In [ ]:
diamonds.info(memory_usage='deep')

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
61. Write a Pandas program to calculate the memory usage for each Series (in bytes) of diamonds Data Frame.


</p>

In [ ]:
diamonds.memory_usage(deep=True)

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
62. Write a Pandas program to get randomly sample rows from diamonds Data Frame.


</p>

In [ ]:
diamonds.sample(n=6)

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
63. Write a Pandas program to get sample 75% of the diamonds Data Frame's rows without replacement and store the remaining 25% of the rows in another Data Frame.


</p>

In [ ]:

SeventyFivePerCent = diamonds.sample(frac=0.75, random_state=99)
SeventyFivePerCent
diamonds.loc[~diamonds.index.isin(SeventyFivePerCent.index), :]

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">
 64. Write a Pandas program to read the diamonds Data Frame and detect duplicate color. Note: duplicated () function returns boolean Series denoting duplicate rows, optionally only considering certain columns.


</p>

In [ ]:
diamonds['color'].duplicated().sum()

<br><p style="font-family:Footlight MT Light;text-align:left;font-size:1.2em;font-weight:bold;color:#D90571;">65. Write a Pandas program to count the duplicate rows of diamonds Data Frame.


</p>

In [ ]:
diamonds.duplicated().sum()